<div id="mainSplitter" class="col-md-5">
        <div>
            <div id="leftSplitter">
                <div> 
                  <div id="upper-left-editor"></div>
                  <span class="window_label" >HTML</span>
                </div>
                <div>
                  <div id="lower-left-editor">  </div>
                  <span class="window_label" >Javscript</span>
                </div>
            </div>
        </div>
        <div>
            <div id="rightSplitter">
                <div>
                  <div id="upper-right-editor">  </div>
                  <span class="window_label" >CSS</span>
                </div>
                <div id="iframe-container">
                  <iframe id="results" sandbox="allow-forms allow-popups allow-scripts allow-same-origin">
                  </iframe>
                </div>
            </div>
        </div>
    </div>
</div> <!-- closing div of rendered side bar -->

