<script src="http://jqwidgets.com/public/jqwidgets/jqx-all.js"></script> 

 <div id="mainSplitter">
    <div>
        <div id="leftSplitter">
            <div> 
              <div id="upper-left-editor"> </div>
            </div>
            <div>
              <div id="lower-left-editor">  </div>
            </div>
        </div>
    </div>
    <div>
        <div id="rightSplitter">
            <div>
              <div id="upper-right-editor">  </div>
            </div>
            <div id="iframe-container">
            </div>
        </div>
    </div>
</div>

<%= javascript_include_tag "_index.js" %>
