<script src="http://jqwidgets.com/public/jqwidgets/jqx-all.js"></script> 

<!-- Sidebar -->
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Diddle Options
                    </a>
                </li>
                 <li>
                    <a href="#" id="run"><span class="glyphicon glyphicon-play"></span>Run</a>
                </li>
                <li>
                    <a href="#" id="save"><span class="glyphicon glyphicon-floppy-save"></span>Save</a>
                </li>
                <li>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="project-name" placeholder="Diddle Name">
                    </div>
                </li>
                <li>
                    <select id="library-selection">
                        <option value="">No-Library (pure JS)</option>
                        <option  disabled="true">jQuery</option>
                        <option value="<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>">jQuery 2.1.1</option>
                        <option value="<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>">jQuery 2.1.0</option>
                        <option value="<script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js'></script>">jQuery 2.0.2</option>
                        <option value="<script src='//ajax.googleapis.com/ajax/libs/jquery/1.1.1/jquery.min.js'></script>">jQuery 1.1.1</option>
                        <option value="<script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>">jQuery 1.10.1</option>
                        <option value="<script src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>">jQuery 1.9.1</option>
                        <option value="<script src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>">jQuery 1.8.3</option>
                        <option value="<script src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>">jQuery 1.7.2</option>
                        <option value="<script src='//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>">jQuery 1.6.4</option>
                        <option label="Angular" disabled="true">Angular</option>
                        <option value="<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js'></script>">Angular 1.2.23</option>
                        <option value="<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js'></script>">Angular 1.1.1</option>
                        <option label="jQuery" disabled="true">Underscore</option>
                        <option value="<script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>">Underscore 1.6.0</option>
                        <option value="<script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>">Underscore 1.5.2</option>
                    </select>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


     <div id="mainSplitter" class="col-md-5">
        <div>
            <div id="leftSplitter">
                <div> 
                  <div id="upper-left-editor"> </div>
                </div>
                <div>
                  <div id="lower-left-editor">  </div>
                </div>
            </div>
        </div>
        <div>
            <div id="rightSplitter">
                <div>
                  <div id="upper-right-editor">  </div>
                </div>
                <div id="iframe-container">
                </div>
            </div>
        </div>
    </div>
</div>

<%= javascript_include_tag "_index.js" %>
