<script src="http://jqwidgets.com/public/jqwidgets/jqx-all.js"></script> 

<%= render 'projects/sidebar_index' %>
<%= render 'projects/editor' %>

<iframe id="results" sandbox="allow-forms allow-popups allow-scripts allow-same-origin">
  <head></head>
  <body></body>
</iframe>

<%= javascript_include_tag "_index.js" %>
