buildCode();

 function buildCode(e){
  var html = htmlEditor.getValue();
  var js = javascriptEditor.getValue();
  var css = cssEditor.getValue();
  var library = $('#library-selection').val()
  $('iframe').remove();
  var iframe = document.createElement("iframe");
  iframe.setAttribute("id", "results");  

  iframe.onload = function() {
    document.getElementById('results').contentWindow.document.write('<!DOCTYPE html><html class="results-html">'+library+'<style>'+css+'</style><body>'+html+'<script>'+js+'</script></body></html>');
  };

  $('#iframe-container').append(iframe);

  e.preventDefault();
 }