<script src="http://jqwidgets.com/public/jqwidgets/jqx-all.js"></script> 

<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>

<!-- Sidebar -->
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Diddle Options
                    </a>
                </li>
                <li>
                    <input name="project-name">
                </li>
                <li>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


     <div id="mainSplitter" class="col-md-5">
        <div>
            <div id="leftSplitter">
                <div> 
                  <div id="upper-left-editor"> </div>
                </div>
                <div>
                  <div id="lower-left-editor">  </div>
                </div>
            </div>
        </div>
        <div>
            <div id="rightSplitter">
                <div>
                  <div id="upper-right-editor">  </div>
                </div>
                <div id="iframe-container">
                </div>
            </div>
        </div>
    </div>
</div>
<%= javascript_include_tag "_edit.js" %>
