// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Inconsolata);

h1, h2, h3, h4, h5, p, a {
  font-family: 'Inconsolata';
}


//======= Profile ======


#projects-container{
    text-align: center;
 }

.project-div {
  height: 20em;
  margin: 4em;

  .project-iframe {
    height: 100%; 
    width: 80%;
    background-color: white;
    border-radius: 5px;
  }

  div{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    a{
      color: black;
      font-size: 2em;
      margin-right: 1em;
    }
  }

}



//========= ace editor ======

.window_label {
  border: solid 1px #F1F1F1;
  background: #fff;
  display: inline-block;
  height: 22px;
  padding: 0 6px;
  line-height: 22px;
  position: absolute;
  top: 7px;
  right: 6px;
  text-align: center;
  font-size: 12px;
  border-radius: 1px;
  z-index: 30;
}

#mainSplitter {
  position: absolute;
  right: 0px;
}

#results {
    height: 100%;
    width: 100%;

}

 #upper-left-editor, #lower-left-editor, #upper-right-editor { 
    position: relative;  
    height: 100%;
    width: 100%;
  }

#project-name {
  border-radius: 5px;
  margin-left: 1em;
}

.navbar-inverse {
  border-color: #222222;
}

.glyphicon {
  padding-right: 1em;
}